{% extends "blog/base.html" %}

{% block content %}
	<h1 class="border-bottom mb-3">This is Flashcard page</h1>
	<!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add a Flashcard
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add a Flashcard</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Body -->
                <div class="modal-body">
                    <div>Front side</div>
                    <input class="form-control">
                    <div>Back side</div>
                    <input class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Add Flashcard</button>
                </div>
            </div>
        </div>
    </div>

	<a class="btn btn-primary" href="{% url 'flashcards-add' %}">Go to Add Flashcard page</a>
{% endblock content %}